* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    background-color: rgba(255, 166, 0, 0.829);
}
.imgLogo{
    border-radius: 100%;
}
.buscador{
    width: 250px;
    border-color: rgba(0, 0, 0, 0.486);
}
.segundoNav{
    background-color: #fee997;
}
.segundoNav li a{
    color: black;
}
.body{
    background-color: beige;
}
.titulo{
    text-align: center;
    margin-top: 20px;
}
.subtitulo{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.barra{
    width: 90%;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 2%;
}
.pie{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.iconos{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.iconos li img{
    margin-left: 15px;
}
.footer{
    margin-top: 80px;
    padding-top: 2rem;
    background-color: cornflowerblue;
}
.input{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}
.form{
    margin-left: 25%;
    margin-right: 25%;
}
.pregunta{
    text-align: center;
    margin-bottom: 10rem;
}