* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    background-color: rgba(255, 166, 0, 0.829);
}
.imgLogo{
    border-radius: 100%;
}
.buscador{
    width: 300px;
    border-color: rgba(0, 0, 0, 0.486);
}
.segundoNav{
    background-color: #fee997;
}
.segundoNav li a{
    color: black;
}