@import "./reset";
@import "./variables";

.header {
    background-color: $principal;
}

.imgLogo {
    border-radius: 100%;
}

.buscador {
    width: 20rem;
    border-color: $buscador;
}

.segundoNav {
    background-color: $secundario;

    li {
        a {
            color: black;

            &:hover {
                color: grey;
            }
        }
    }
}

.body {
    background-color: $fondo;
}

.carousel {
    width: $carrusel;
    margin: 0rem (100%-$carrusel)/2;
}

.titulo {
    text-align: center;
    margin-top: 2*$margen;
    margin-bottom: $margen;
}

.subtitulo {
    margin-top: 2*$margen;
    margin-bottom: $margen;
}

.barra {
    width: 90%;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 2%;
}

.pie {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.iconos {
    display: flex;
    flex-flow: row wrap;
    align-content: center;

    li {
        img {
            margin-left: $margen;
            margin-right: $margen;
            height: $iconos;
        }
    }
}

.footer {
    margin-top: 7rem;
    padding-top: 2rem;
    background-color: $footer;
}

.input {
    margin-top: 0;
    margin-bottom: $margen;
    width: 100%;
}

.boton {
    margin-top: $margen;
    margin-bottom: $margen;
    width: 100%;
}

.form {
    margin-left: 25%;
    margin-right: 25%;
}

.form-check {
    margin-top: $margen;
}

.pregunta {
    text-align: center;
    padding-bottom: 4rem;
}

.enviar {
    width: 50%;
    margin: 0 25% 0 25%;
}

.card img {
    scale: 0.8;
    transition: all 300ms;

    &:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width:991px) {
    .buscador {
        width: 14rem;
    }

    .card {
        margin-bottom: 1.5rem;
    }

    .enviar {
        width: 90%;
        margin: 0 5%;
    }

    .form {
        margin: 5%;
    }

    .carousel {
        width: 100%;
        margin: 0rem 0rem;
    }
}